*,
*::before,
*::after {
  box-sizing: border-box;
}


/* context menu */

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 2px 0;
  width: 100px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;

  z-index: 999999;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 2px 12px;
  color: #000000;
  font-size: 10px;
  text-decoration: none;
  font-family: "arial", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}