@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueLight';
  src: url("../fonts/HelveticaNeueLight.eot");
  src: url("../fonts/HelveticaNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLight.woff2") format("woff2"), url("../fonts/HelveticaNeueLight.woff") format("woff"), url("../fonts/HelveticaNeueLight.ttf") format("truetype"), url("../fonts/HelveticaNeueLight.svg#HelveticaNeueLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url("../fonts/HelveticaNeueMedium.eot");
  src: url("../fonts/HelveticaNeueMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueMedium.woff2") format("woff2"), url("../fonts/HelveticaNeueMedium.woff") format("woff"), url("../fonts/HelveticaNeueMedium.ttf") format("truetype"), url("../fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueBold';
  src: url("../fonts/HelveticaNeueBold.eot");
  src: url("../fonts/HelveticaNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBold.woff2") format("woff2"), url("../fonts/HelveticaNeueBold.woff") format("woff"), url("../fonts/HelveticaNeueBold.ttf") format("truetype"), url("../fonts/HelveticaNeueBold.svg#HelveticaNeueBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueBoldItalic';
  src: url("../fonts/HelveticaNeueBoldItalic.eot");
  src: url("../fonts/HelveticaNeueBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBoldItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldItalic.woff") format("woff"), url("../fonts/HelveticaNeueBoldItalic.ttf") format("truetype"), url("../fonts/HelveticaNeueBoldItalic.svg#HelveticaNeueBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueLTStdBd';
  src: url("../fonts/HelveticaNeueLTStdBd.eot");
  src: url("../fonts/HelveticaNeueLTStdBd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStdBd.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStdBd.woff") format("woff"), url("../fonts/HelveticaNeueLTStdBd.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStdBd.svg#HelveticaNeueLTStdBd") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueLTStdRoman';
  src: url("../fonts/HelveticaNeueLTStdRoman.eot");
  src: url("../fonts/HelveticaNeueLTStdRoman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStdRoman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStdRoman.woff") format("woff"), url("../fonts/HelveticaNeueLTStdRoman.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStdRoman.svg#HelveticaNeueLTStdRoman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaLight';
  src: url("../fonts/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight.woff2") format("woff2"), url("../fonts/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight.ttf") format("truetype"), url("../fonts/HelveticaLight.svg#HelveticaLight") format("svg");
  font-weight: normal;
  font-style: normal; }
.banner {
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  padding: 90px 0px 70px; }
  @media only screen and (max-width: 480px) {
    .banner {
      padding: 20px 0 30px; } }
  @media only screen and (max-width: 767px) {
    .banner {
      padding: 40px 0 40px; } }
  .banner .banner-column h3 {
    font: 18px/26px 'Titillium Web', sans-serif;
    color: #002c40;
    margin: 0px;
    font-weight: 600; }
    @media only screen and (max-width: 480px) {
      .banner .banner-column h3 {
        font: bold 16px/30px "Titillium Web", sans-serif; } }
  .banner .banner-column h1 {
    font: 36px/48px 'Titillium Web', sans-serif;
    color: #002c40;
    margin: 0px;
    font-weight: bold; }
    @media only screen and (max-width: 767px) {
      .banner .banner-column h1 {
        font: bold 28px/38px "Titillium Web", sans-serif; } }
    @media only screen and (max-width: 640px) {
      .banner .banner-column h1 {
        font: bold 24px/38px "Titillium Web", sans-serif; } }
    @media only screen and (max-width: 480px) {
      .banner .banner-column h1 {
        font: bold 16px/30px "Titillium Web", sans-serif; } }
  .banner .banner-column p {
    font: 18px/26px 'Open Sans', sans-serif;
    color: #005468;
    margin: 0px;
    max-width: 54%; }
    @media only screen and (max-width: 767px) {
      .banner .banner-column p {
        max-width: 100%; } }
    @media only screen and (max-width: 480px) {
      .banner .banner-column p {
        max-width: 100%;
        font: 14px/22px "Open Sans", sans-serif; } }
  .banner .banner-column .camera-sec {
    margin: 0 auto;
    text-align: right; }
    .banner .banner-column .camera-sec img {
      max-width: 100%; }
      @media only screen and (max-width: 767px) {
        .banner .banner-column .camera-sec img {
          max-width: 30%; } }
      @media only screen and (max-width: 640px) {
        .banner .banner-column .camera-sec img {
          max-width: 50%; } }
      @media only screen and (max-width: 480px) {
        .banner .banner-column .camera-sec img {
          max-width: 50%; } }

.content-box {
  width: 100%;
  float: left; }
  .content-box .content-column {
    padding: 60px 0px 70px;
    text-align: center;
    float: left;
    width: 100%; }
    @media only screen and (max-width: 480px) {
      .content-box .content-column {
        padding: 40px 0px; } }
    @media only screen and (max-width: 640px) {
      .content-box .content-column {
        padding: 50px 0px; } }
    .content-box .content-column h2 {
      font: 30px/43px 'Titillium Web', sans-serif;
      color: #002c40;
      margin: 0px auto;
      max-width: 80%;
      font-weight: 300; }
      @media only screen and (max-width: 640px) {
        .content-box .content-column h2 {
          max-width: 100%;
          font: 300 22px/28px "Titillium Web", sans-serif; } }
      @media only screen and (max-width: 480px) {
        .content-box .content-column h2 {
          max-width: 100%;
          font: 300 18px/28px "Titillium Web", sans-serif; } }
    .content-box .content-column h3 {
      font: 18px/26px 'Titillium Web', sans-serif;
      color: #002c40;
      margin: 0px;
      font-weight: 600; }
    .content-box .content-column .learn-more {
      font: 18px/26px 'Titillium Web', sans-serif;
      color: #00c3d7;
      border: 2px solid #00c3d7;
      margin: 0px;
      padding: 4px 8px;
      font-weight: 300;
      margin-top: 10px;
      text-decoration: none;
      display: inline-block; }
      @media only screen and (max-width: 640px) {
        .content-box .content-column .learn-more {
          margin-top: 20px; } }
      .content-box .content-column .learn-more:hover {
        text-decoration: none; }

.eligibility {
  float: left;
  width: 100%;
  background-image: url("../images/eligibility-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
  .eligibility .eligibility-column {
    padding: 60px 0px 20px;
    width: 100%;
    float: left; }
    @media only screen and (max-width: 767px) {
      .eligibility .eligibility-column .col-xs-12 {
        width: 50%; } }
    @media only screen and (max-width: 640px) {
      .eligibility .eligibility-column .col-xs-12 {
        width: 100%; } }
    @media only screen and (max-width: 480px) {
      .eligibility .eligibility-column {
        padding: 30px 0px; } }
    .eligibility .eligibility-column h2 {
      font: 30px/36px 'Titillium Web', sans-serif;
      color: #fff;
      margin: 0px 0px 10px;
      font-weight: 300; }
    .eligibility .eligibility-column p {
      font: 14px/20px 'Open Sans', sans-serif;
      color: #fff;
      margin: 0px;
      font-weight: 300; }
    .eligibility .eligibility-column ul {
      padding: 0px 0px 0px 20px;
      margin: 10px 0px 0px; }
      .eligibility .eligibility-column ul li {
        font: 14px/20px 'Open Sans', sans-serif;
        color: #fff;
        margin-bottom: 8px;
        font-weight: 300; }
    .eligibility .eligibility-column .right-sec .camera-serial {
      background: url("../images/camera-serial.png");
      background-repeat: no-repeat;
      background-position: center top;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      -ms-background-size: cover;
      background-size: cover;
      padding: 35px 20px 20px 80px;
      margin-bottom: 30px;
      max-width: 72%; }
      @media only screen and (max-width: 1100px) {
        .eligibility .eligibility-column .right-sec .camera-serial {
          background: #F3F4F1 url("../images/camera-serial.png");
          padding: 20px; } }
      @media only screen and (max-width: 992px) {
        .eligibility .eligibility-column .right-sec .camera-serial {
          margin-bottom: 30px;
          max-width: 72%;
          padding: 20px 10px;
          background: #F3F4F1 url("../images/camera-serial.png"); } }
      @media only screen and (max-width: 767px) {
        .eligibility .eligibility-column .right-sec .camera-serial {
          margin: 0 auto 20px;
          max-width: 82%;
          padding: 20px; } }
      @media only screen and (max-width: 640px) {
        .eligibility .eligibility-column .right-sec .camera-serial {
          max-width: 72%;
          margin: 20px auto;
          padding: 15px;
          float: none; } }
      @media only screen and (max-width: 480px) {
        .eligibility .eligibility-column .right-sec .camera-serial {
          max-width: 100%;
          padding: 20px; } }
      .eligibility .eligibility-column .right-sec .camera-serial .serial-unmber {
        padding: 0 0px 0px 20px; }
        @media only screen and (max-width: 992px) {
          .eligibility .eligibility-column .right-sec .camera-serial .serial-unmber {
            padding: 0px; } }
        @media only screen and (max-width: 480px) {
          .eligibility .eligibility-column .right-sec .camera-serial .serial-unmber {
            padding: 0px; } }
        .eligibility .eligibility-column .right-sec .camera-serial .serial-unmber h2 {
          font: 24px/32px 'Titillium Web', sans-serif;
          color: #002c40;
          margin-bottom: 20px;
          font-weight: 300; }
          @media only screen and (max-width: 992px) {
            .eligibility .eligibility-column .right-sec .camera-serial .serial-unmber h2 {
              font: 300 20px/32px "Titillium Web", sans-serif; } }
          @media only screen and (max-width: 767px) {
            .eligibility .eligibility-column .right-sec .camera-serial .serial-unmber h2 {
              font: 300 18px/32px "Titillium Web", sans-serif; } }
          @media only screen and (max-width: 480px) {
            .eligibility .eligibility-column .right-sec .camera-serial .serial-unmber h2 {
              font: 300 20px/32px "Titillium Web", sans-serif; } }
        .eligibility .eligibility-column .right-sec .camera-serial .serial-unmber .form-group {
          max-width: 80%; }
          @media only screen and (max-width: 767px) {
            .eligibility .eligibility-column .right-sec .camera-serial .serial-unmber .form-group {
              margin: 0 auto 20px; } }
          .eligibility .eligibility-column .right-sec .camera-serial .serial-unmber .form-group input {
            background-color: transparent;
            border-color: currentcolor currentcolor #fbbf00;
            border-radius: 0;
            border-style: none none solid;
            border-width: medium medium 1px;
            box-shadow: none;
            color: #1b7083;
            font: 14px/20px 'Open Sans', sans-serif;
            font-weight: 300;
            padding-left: 0px; }
            .eligibility .eligibility-column .right-sec .camera-serial .serial-unmber .form-group input::-webkit-input-placeholder {
              color: #1b7083; }
            .eligibility .eligibility-column .right-sec .camera-serial .serial-unmber .form-group input::-moz-placeholder {
              color: #1b7083; }
            .eligibility .eligibility-column .right-sec .camera-serial .serial-unmber .form-group input:-ms-input-placeholder {
              color: #1b7083; }
            .eligibility .eligibility-column .right-sec .camera-serial .serial-unmber .form-group input:-moz-placeholder {
              color: #1b7083; }
      .eligibility .eligibility-column .right-sec .camera-serial .learn-more {
        border: 2px solid #fbbf00;
        color: #002c40;
        display: inline-block;
        font: 300 16px/24px "Titillium Web", sans-serif;
        margin: 5px 0 0;
        padding: 6px 30px;
        background-color: #fff;
        text-decoration: none; }
        @media only screen and (max-width: 992px) {
          .eligibility .eligibility-column .right-sec .camera-serial .learn-more {
            font: 300 13px/24px "Titillium Web", sans-serif; } }
        @media only screen and (max-width: 480px) {
          .eligibility .eligibility-column .right-sec .camera-serial .learn-more {
            font: 300 13px/24px "Titillium Web", sans-serif; } }
        .eligibility .eligibility-column .right-sec .camera-serial .learn-more span {
          color: #00c3d7; }
    .eligibility .eligibility-column .right-sec p {
      font: 10px/14px 'Open Sans', sans-serif;
      color: #002c40;
      margin: 0px;
      max-width: 78%;
      font-style: italic;
      float: left; }
      @media only screen and (max-width: 480px) {
        .eligibility .eligibility-column .right-sec p {
          max-width: 100%; } }

.work-upgrad {
  background-image: url("../images/work-sec.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  padding: 35px 20px 20px 80px;
  margin-top: 10px;
  float: left;
  width: 100%; }
  @media only screen and (max-width: 992px) {
    .work-upgrad {
      padding: 35px 20px 20px 0px; } }
  @media only screen and (max-width: 767px) {
    .work-upgrad .col-xs-12 {
      width: 50%; } }
  @media only screen and (max-width: 640px) {
    .work-upgrad .col-xs-12 {
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    .work-upgrad {
      padding: 0px; } }
  .work-upgrad .upgrading-content {
    float: left;
    padding: 55px 0px 0px;
    width: 100%; }
    .work-upgrad .upgrading-content h3 {
      font: 18px/26px 'Titillium Web', sans-serif;
      color: #002c40;
      margin: 0px;
      font-weight: 600; }
    .work-upgrad .upgrading-content h2 {
      font: 30px/36px 'Titillium Web', sans-serif;
      color: #002c40;
      margin: 0px 0px 10px;
      font-weight: 300; }
    .work-upgrad .upgrading-content ol {
      margin: 10px 0 0;
      padding: 0 0 0 25px; }
      .work-upgrad .upgrading-content ol li {
        color: #00415d;
        font: 14px/20px "Open Sans", sans-serif;
        margin-bottom: 8px;
        padding-left: 10px; }
        @media only screen and (max-width: 640px) {
          .work-upgrad .upgrading-content ol li {
            color: #005468; }
            .work-upgrad .upgrading-content ol li br {
              display: none; } }
        @media only screen and (max-width: 767px) {
          .work-upgrad .upgrading-content ol li {
            font: 13px/18px "Open Sans", sans-serif; } }
        .work-upgrad .upgrading-content ol li ul {
          padding: 0 0 0 20px; }
          .work-upgrad .upgrading-content ol li ul li {
            list-style: outside;
            padding-left: 3px; }
  .work-upgrad .sign-up {
    background-color: #ffffff;
    box-sizing: border-box;
    float: inherit;
    margin-left: 60px;
    padding: 35px 25px 25px;
    width: 60%; }
    @media only screen and (max-width: 992px) {
      .work-upgrad .sign-up {
        width: 80%; } }
    @media only screen and (max-width: 640px) {
      .work-upgrad .sign-up {
        width: 80%;
        margin: 10px auto 0px;
        float: none; } }
    @media only screen and (max-width: 480px) {
      .work-upgrad .sign-up {
        margin: 0px;
        width: 100%; } }
    .work-upgrad .sign-up h3 {
      color: #002c40;
      font: 600 18px/26px "Titillium Web", sans-serif;
      margin: 0;
      padding: 0px 5px;
      border-bottom: 1px solid #002c40; }
    .work-upgrad .sign-up p {
      font: 300 14px/20px "Open Sans", sans-serif;
      color: #584c58; }
    .work-upgrad .sign-up form {
      margin-top: 20px; }
      .work-upgrad .sign-up form .form-group {
        padding: 0 10px;
        margin-bottom: 10px; }
        .work-upgrad .sign-up form .form-group input {
          background-color: transparent;
          border-color: currentcolor currentcolor #584c58;
          border-radius: 0;
          border-style: none none solid;
          border-width: medium medium 2px;
          box-shadow: none;
          font: 300 14px/20px "Open Sans", sans-serif;
          padding-left: 0; }
          .work-upgrad .sign-up form .form-group input::-webkit-input-placeholder {
            color: #584c58; }
          .work-upgrad .sign-up form .form-group input::-moz-placeholder {
            color: #584c58; }
          .work-upgrad .sign-up form .form-group input:-ms-input-placeholder {
            color: #584c58; }
          .work-upgrad .sign-up form .form-group input:-moz-placeholder {
            color: #584c58; }
        .work-upgrad .sign-up form .form-group .btn.btn-default {
          background-color: #02b8ce;
          color: #fff;
          display: inline-block;
          font: 600 18px/26px "Titillium Web", sans-serif;
          padding: 6px 30px;
          border: 1px solid #bfe3e9;
          width: 100%;
          margin-top: 10px;
          border-radius: 0px;
          text-align: center; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  font: 300 14px/20px "Open Sans", sans-serif;
  color: #584c58; }

input[type="radio"] + label span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #939393; }

input[type="radio"] + label span {
  background-color: #fff; }

input[type="radio"]:checked + label span {
  background-color: #02b8ce;
  border: 0px solid #fff; }

.faq {
  padding: 60px 0px;
  float: left;
  width: 100%; }
  .faq .faq-column h3 {
    color: #002c40;
    font: 600 18px/26px "Titillium Web", sans-serif;
    margin: 0 auto;
    text-align: center;
    padding: 0px; }
    .faq .faq-column h3 span {
      color: #00b8ce; }
  .faq .faq-column h2 {
    color: #002c40;
    font: 300 30px/42px "Titillium Web", sans-serif;
    margin: 0 auto;
    text-align: center;
    padding: 0px; }
    @media only screen and (max-width: 480px) {
      .faq .faq-column h2 {
        font: 300 24px/32px "Titillium Web", sans-serif; } }
  .faq .faq-column .accordion-main {
    max-width: 60%;
    margin: 20px auto 0px; }
    @media only screen and (max-width: 767px) {
      .faq .faq-column .accordion-main {
        max-width: 80%; } }
    @media only screen and (max-width: 640px) {
      .faq .faq-column .accordion-main {
        max-width: 100%; } }
    .faq .faq-column .accordion-main .panel-group {
      margin: 0px; }
      .faq .faq-column .accordion-main .panel-group .panel-default {
        border-color: transparent;
        box-shadow: none; }
        .faq .faq-column .accordion-main .panel-group .panel-default .panel-heading {
          padding: 0px;
          background-color: transparent;
          border: none;
          border-radius: 0px; }
          .faq .faq-column .accordion-main .panel-group .panel-default .panel-heading .panel-title a {
            color: #002c40;
            font: bold 18px/26px "Titillium Web", sans-serif;
            margin: 0 auto;
            display: inherit;
            padding: 0;
            text-decoration: none; }
            @media only screen and (max-width: 480px) {
              .faq .faq-column .accordion-main .panel-group .panel-default .panel-heading .panel-title a {
                font: bold 14px/26px "Titillium Web", sans-serif; } }
            .faq .faq-column .accordion-main .panel-group .panel-default .panel-heading .panel-title a i {
              color: #00b8ce;
              float: right;
              font-size: 24px; }
    .faq .faq-column .accordion-main .panel-collapse .panel-body {
      border: none;
      border-top-color: transparent; }
      .faq .faq-column .accordion-main .panel-collapse .panel-body p {
        color: #524d52;
        font: 300 14px/20px "Open Sans", sans-serif;
        margin-bottom: 0px;
        padding-left: 15px;
        max-width: 85%; }
        @media only screen and (max-width: 480px) {
          .faq .faq-column .accordion-main .panel-collapse .panel-body p {
            max-width: 100%;
            padding-left: 0px; } }

/*# sourceMappingURL=base.css.map */
